<!DOCTYPE html>
<html lang="ro">
<head>
    <title>403 - ERROR</title>
    <%- include('../fragmente/head'); %>
</head>
<body>
<header>
    <h1>403 - ERROR</h1>
    <%- include('../fragmente/header'); %>
</header>

<main>
    <div id="err">
        <img src="/resurse/IMG/403.jpg" alt="403 Error"><br>
        <figcaption>Nu puteti accesa aceasta pagina!</figcaption>
    </div>
</main>
<footer>
    <%- include('../fragmente/footer'); %>
</footer>

</body>
</html>