<!DOCTYPE html>
<html lang="ro">
<head>
    <title>404 - ERROR</title>
    <%- include('../fragmente/head'); %>
</head>
<body>
<header>
    <h1>404 - ERROR</h1>
    <%- include('../fragmente/header'); %>
</header>

<main>
    <div id="err">
        <img src="/resurse/IMG/404.jpg" alt="404 Error"><br>
        <figcaption>Pagina pe care ati accesat-o este indisponibila!</figcaption>
    </div>
</main>
<footer>
    <%- include('../fragmente/footer'); %>
</footer>

</body>
</html>