@import url("homepage.css");
@media screen and (max-width:500px) {
    body{
        font-size: 12px;
    }
    #layout div{
        padding: 5px;
    }
    #layout{
        display: block;
    }
    img#imgsale{
        max-width: 30%;
        max-height: 30%;
    }
    p#description{
        font-size:large;
    }
    table {
        border:0.5px solid var(--gri-deschis);
        border-collapse:collapse;
        padding:3px;
        width: 50%;
    }
    table th {
        border:1px solid var(--gri-deschis);
        padding:3px;
    }
    table td {
        border:1px solid var(--gri-deschis);

        padding: 3px;
    }
    #galerie_statica{
        display: block;
    }
}