<address>
    Telefon: <a href="tel:0749-365-155">0749365155</a><br>
    Adresa: Str: Secuilor 1, București, Sector 4<br>
    <span class="fas fa-envelope-open-text"></span>: <a href="mailto:sneaker_em@gmail.com">sneaker_em@gmail.com</a>
  </address>

  <small>Copyright &copy; <time datetime="2022-05-06">06.05.2022</time> Marinache Eduard-Florin</small>
<a class="top" href="#">&#5123<br><span class="tooltiptext">Înapoi sus</span></a>