<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="Sneaker, Adidasi, Incaltaminte sport">
<meta name="description" content="Prezentarea orașului Brașov">
<meta name="author" content="Marinache Eduard">
<title>Sneaker-EM</title>
<link rel="icon" href="/resurse/IMG/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.13.0/css/all.css" type="text/css">
<link href="https://fonts.googleapis.com/css2?family=Overpass:wght@700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/resurse/CSS/menu.css" type="text/css">
<link rel="stylesheet" href="/resurse/CSS/menu-500.css" media="screen and (max-width:500px)" type="text/css">
<link rel="stylesheet" href="/resurse/CSS/menu-1200.css" media="screen and (max-width:1200px)" type="text/css">
<link rel="stylesheet" href="/resurse/CSS/homepage.css" type="text/css">
<link rel="stylesheet" href="/resurse/CSS/homepage-500.css" media="screen and (max-width:500px)" type="text/css">
<link rel="stylesheet" href="/resurse/CSS/homepage-1200.css" media="screen and (max-width:1200px)" type="text/css">
<link rel="stylesheet" href="/resurse/CSS/print.css" type="text/css">
<link rel="stylesheet" href="/resurse/CSS/err.css" type="text/css">
<link rel="stylesheet" href="/resurse/CSS/video.css" type="text/css">
<link rel="stylesheet" href="/resurse/CSS/contact.css" type="text/css">
<link rel="stylesheet" href="/resurse/CSS/table.css" type="text/css">
<link rel="stylesheet" href="/resurse/CSS/galerie-statica.css" type="text/css">
<link rel="stylesheet" href="/resurse/CSS/table-500.css" media="screen and (max-width:500px)" type="text/css">
<link rel="stylesheet" href="/resurse/CSS/contact-500.css" media="screen and (max-width:500px)" type="text/css">
<link rel="stylesheet" href="/resurse/CSS/contact-1200.css" media="screen and (max-width:1200px)" type="text/css">
